<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a8684">  <td>19/04/29 07:43:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotation.afterMethod()[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/04/29 07:43:58</td>   <td>13120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotation.afterMethod()[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/04/29 07:40:43</td>   <td>-182387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotation.beforeMethod()[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="9a8684">  <td>19/04/29 07:43:47</td>   <td>2341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotation.beforeMethod()[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/04/29 07:40:54</td>   <td>-170692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatLead.createLead(java.lang.String)[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">createLead</td> 
  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/04/29 07:43:55</td>   <td>9792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatLead.createLead(java.lang.String)[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">createLead</td> 
  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/04/29 07:44:00</td>   <td>15135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatLead.createLead(java.lang.String)[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">createLead</td> 
  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/04/29 07:40:43</td>   <td>-182408</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Report.report()[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/04/29 07:40:43</td>   <td>-182417</td> <td>&nbsp;</td><td title="&gt;&gt;CreatLead.setData()[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>19/04/29 07:40:42</td>   <td>-182919</td> <td title="&gt;&gt;Report.startReport()[pri:0, instance:com.yella.testng.tests.CreatLead@1213b92]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@5905257</td>   <td></td> </tr>
</table>
