<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>CreatLead.createLead(java.lang.String)[pri:0, instance:com.yella.testng.tests.CreatLead@480dd7]<br/></td></tr>
</table>
